QNH.Overheid.KernRegister.Business.KvK/Connected Services/v30/CatalogusTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://schemas.kvk.nl/schemas/kvk/dataservice/catalogus/2015/02" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.kvk.nl/schemas/kvk/dataservice/catalogus/2015/02" version="schema.v3_0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EnumeratieType">
    <xs:sequence>
      <xs:element name="code" type="xs:string" />
      <xs:element name="omschrijving" type="xs:string" />
      <xs:element minOccurs="0" name="referentieType" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Letter">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-zA-Z]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Alfanumeriek15">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-zA-Z0-9_\+\-]{0,15}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Alfanumeriek5">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-zA-Z0-9_\+\-]{0,5}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Tekst16">
    <xs:restriction base="xs:string">
      <xs:minLength value="0" />
      <xs:maxLength value="16" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Tekst50">
    <xs:restriction base="xs:string">
      <xs:minLength value="0" />
      <xs:maxLength value="50" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Numeriek23DecimaalFractie4">
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="23" />
      <xs:fractionDigits value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="JaarType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DatumIncompleetType">
    <xs:annotation>
      <xs:documentation>Een datum heeft een vast formaat: 8 posities, met als invulling jjjjmmdd (jaar-maand-dag),
                waarbij alleen cijfers zijn toegestaan.
                Wanneer een gedeelte van de datum onbekend is, wordt dat gerepresenteerd door nullen. De mogelijke
                waarden van datum zijn:
                jjjjmmdd volledige datum
                jjjjmm00 dag onbekend
                jjjj0000 maand onbekend
                00000000 datum onbekend, standaardwaarde
            </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{8}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TijdstipType">
    <xs:annotation>
      <xs:documentation>Een tijdstip bestaat uit een complete datum (volgens de gregoriaanse kalender) en tijd.
                Het formaat van het tijdstip is jjjjmmddhhmmssmmm, waarbij achtereenvolgens: jjjj - jaartal
            </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{17}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NoValue">
    <xs:restriction base="xs:string">
      <xs:enumeration value="nietOndersteund" />
      <xs:enumeration value="nietGeautoriseerd" />
      <xs:enumeration value="geenWaarde" />
      <xs:enumeration value="waardeOnbekend" />
      <xs:enumeration value="vastgesteldOnbekend" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BSNummerType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{9}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RSINummerType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{9}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="KvKNummerType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{8}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VestigingsnummerType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{12}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DepotIdType">
    <xs:restriction base="xs:string">
      <xs:minLength value="0" />
      <xs:maxLength value="36" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PostcodeType">
    <xs:sequence>
      <xs:element name="cijfercombinatie">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{4}" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="lettercombinatie">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z]{2}" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GeldType">
    <xs:sequence>
      <xs:element name="waarde">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="18" />
            <xs:fractionDigits value="8" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="valuta" type="EnumeratieType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BagIdType">
    <xs:sequence>
      <xs:element name="identificatieNummeraanduiding" type="Tekst16" />
      <xs:element name="identificatieAdresseerbaarObject" type="Tekst16" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegistratieType">
    <xs:annotation>
      <xs:documentation>Generiek registratie type met voor elke type geledende registratie gegevens
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="datumAanvang" type="DatumIncompleetType" />
      <xs:element minOccurs="0" name="datumEinde" type="DatumIncompleetType" />
    </xs:sequence>
    <xs:attribute name="soortMutatie" type="xs:string" use="optional" />
    <xs:attribute name="registratieTijdstip" type="TijdstipType" use="optional" />
    <xs:attribute name="registratieTijdstipNoValue" type="NoValue" use="optional" />
  </xs:complexType>
  <xs:complexType name="BasisType" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="MetExtraElementenMogenlijkheidType">
        <xs:sequence>
          <xs:element minOccurs="0" name="registratie" type="RegistratieType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MetExtraElementenMogenlijkheidType" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" name="extraElementen" type="ExtraElementenType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExtraElementenType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="extraElement" nillable="true">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="naam" type="xs:string" use="required" />
              <xs:attribute name="hoortBijGroep" type="xs:string" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>