QNH.Overheid.KernRegister.Business.KvK/v2.5/XSD/CatalogusGegevensGroepen.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://schemas.kvk.nl/schemas/hrip/catalogus/2015/01"
           targetNamespace="http://schemas.kvk.nl/schemas/hrip/catalogus/2015/01"
           elementFormDefault="qualified" attributeFormDefault="unqualified"
           version="schema.v2_5">

	<xs:include schemaLocation="./CatalogusTypes.xsd"/>
	<xs:include schemaLocation="./CatalogusEnumeraties.xsd"/>
	<!--*************************** GegevensGroepen MET Registratie ****************************-->
	<!--**** Activiteiten ****-->
	<xs:complexType name="ActiviteitenType">
		<xs:complexContent>
			<xs:extension base="BasisType">
				<xs:sequence>
					<xs:element name="omschrijving" type="Tekst2000" minOccurs="0"/>
					<xs:element name="hoofdSbiActiviteit" type="SBIActiviteitType" minOccurs="0"/>
					<xs:element name="sbiActiviteit" type="SBIActiviteitType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ActiviteitenCommercieleVestigingType">
		<xs:complexContent>
			<xs:extension base="ActiviteitenType">
				<xs:sequence>
					<xs:element name="export" type="IndicatieType" minOccurs="0"/>
					<xs:element name="import" type="IndicatieType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

    <!-- **** BeperkingInRechtshandeling ****-->
    <xs:complexType name="BeperkingInRechtshandelingType">
        <xs:annotation>
            <xs:documentation>Added since 2012/08</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="BasisType">
                <xs:sequence>
                    <xs:element name="soort" type="SoortBeperkingRechtshandelingType" minOccurs="0" />
                    <xs:choice minOccurs="0">
                        <xs:element name="aanvangDoorRechterlijkeUitspraak" type="RechterlijkeUitspraakType" />
                        <xs:element name="eindeDoorRechterlijkeUitspraak" type="RechterlijkeUitspraakType" />
                    </xs:choice>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

	<!--**** Bevoegdheid ****-->
	<xs:complexType name="BevoegdheidAansprakelijkeType">
		<xs:complexContent>
			<xs:extension base="BasisType">
				<xs:sequence>
					<xs:element name="soort" type="SoortBevoegdheidAansprakelijkeType" minOccurs="0"/>
					<xs:element name="beperkingInEuros" type="GeldType" minOccurs="0"/>
					<xs:element name="overigeBeperking" type="IndicatieType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BevoegdheidBestuurderType">
		<xs:complexContent>
			<xs:extension base="BasisType">
				<xs:sequence>
					<xs:element name="soort" type="SoortBevoegdheidBestuurderType" minOccurs="0"/>
					<xs:element name="bevoegdMetAnderePersonen" type="IndicatieType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Indicatie geeft aan dat de bestuurder (gezamenlijk) bevoegd is met andere personen (niet zijnde andere bestuurders).</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BevoegdheidFunctionarisVolgensBuitenlandsRechtType">
		<xs:complexContent>
			<xs:extension base="BasisType">
				<xs:sequence>
					<xs:element name="soort" type="SoortBevoegdheidFunctionarisVolgensBuitenlandsRechtType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BevoegdheidPubliekrechtelijkeFunctionarisType">
		<xs:complexContent>
			<xs:extension base="BasisType">
				<xs:sequence>
					<xs:element name="soort" type="SoortBevoegdheidPubliekrechtelijkeFunctionarisType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
    <xs:complexType name="BijzondereRechtstoestandType">
        <xs:annotation>
            <xs:documentation>Added since 2012/08</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="BasisType">
                <xs:sequence>
                    <xs:choice minOccurs="0">
                        <xs:element name="aanvangDoorRechterlijkeUitspraak" type="RechterlijkeUitspraakType" />
                        <xs:element name="eindeDoorRechterlijkeUitspraak" type="RechterlijkeUitspraakType" />
                    </xs:choice>
                    <xs:element name="redenInsolventie" type="RedenEindeInsolventieType" minOccurs="0" />
                    <xs:choice>
                        <xs:element name="schuldsanering">
                            <xs:complexType>
                                <xs:sequence/>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="surseanceVanBetaling">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="status" type="StatusInsolventieType" minOccurs="0" />
                                    <xs:element name="duur" type="Tekst200" minOccurs="0"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="faillissement">
                            <xs:complexType>
                                <xs:sequence/>
                            </xs:complexType>
                        </xs:element>
                    </xs:choice>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
	<!--**** BuitenlandseRechtstoestand ****-->
	<xs:complexType name="BuitenlandseRechtstoestandType">
		<xs:complexContent>
			<xs:extension base="BasisType">
				<xs:sequence>
					<xs:element name="beschrijving" type="Tekst2000" minOccurs="0"/>
					<xs:choice minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Changed since 2012/08</xs:documentation>
                        </xs:annotation>
                        <xs:element name="aanvangDoorRechterlijkeUitspraak" type="RechterlijkeUitspraakType" />
                        <xs:element name="eindeDoorRechterlijkeUitspraak" type="RechterlijkeUitspraakType" />
                    </xs:choice>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--**** BuitenlandseVennootschapGegevens ****-->
	<xs:complexType name="BuitenlandseVennootschapGegevensType">
		<xs:complexContent>
			<xs:extension base="BasisType">
				<xs:sequence>
					<xs:element name="hoofdvestigingBuitenNederland" type="IndicatieType" minOccurs="0"/>
					<xs:element name="omschrijvingRechtsvorm" type="Tekst200" minOccurs="0">
						<xs:annotation>
							<xs:documentation>De omschrijving van de rechtsvorm zoals in het Buitenland bekend is.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="datumEersteInschrijvingBuitenland" type="DatumIncompleetType" minOccurs="0"/>
					<xs:element name="zetel" type="Tekst80" minOccurs="0"/>
                    <xs:element name="rechtsvormcategorie" type="RechtsvormBuitenlandseVennootschapType"/>
					<xs:element name="datumFormeelBuitenlandsSinds" type="DatumIncompleetType" minOccurs="0"/>
					<xs:element name="datumAkteOprichting" type="DatumIncompleetType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--**** CommanditairKapitaal ****-->
	<xs:complexType name="CommanditairKapitaalType">
		<xs:complexContent>
			<xs:extension base="BasisType">
				<xs:sequence>
					<xs:element name="bedrag" type="GeldType" minOccurs="0"/>
					<xs:element name="soort" type="SoortCommanditairKapitaalType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--**** Communicatiegegevens ****-->
	<xs:complexType name="CommunicatiegegevensType">
		<xs:complexContent>
			<xs:extension base="BasisType">
				<xs:sequence>
					<xs:element name="communicatienummer" type="CommunicatienummerType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="emailAdres" type="Tekst200" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="domeinNaam" type="Tekst300" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--**** Duur ****-->
	<xs:complexType name="DuurType">
		<xs:annotation>
			<xs:documentation>De (on)bepaalde duur van de vennootschap of maatschap</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="BasisType">
				<xs:choice>
					<xs:element name="einde" type="DatumIncompleetType">
						<xs:annotation>
							<xs:documentation>De datum wanneer opgegeven is dat de vennootschap of maatschap ophoudt te bestaan. Let op: Dit is een opgegeven datum en niet de daadwerkelijke eind datum van de vennootschap of maatschap</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="onbepaald">
						<xs:annotation>
							<xs:documentation>Indien geen eind datum voor de vennootschap of maatschap is opgegeven dan betekent dat de duur van de vennootschap of maatschap onbepaald is.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="IndicatieType">
								<xs:enumeration value="Ja"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--**** FunctieTitel ****-->
	<xs:complexType name="FunctieTitelType">
		<xs:complexContent>
			<xs:extension base="BasisType">
				<xs:sequence>
					<xs:element name="functieTitel" type="Tekst100" minOccurs="0"/>
					<xs:element name="indicatieStatutair" type="IndicatieType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--**** Kapitaal ****-->
	<xs:complexType name="KapitaalType">
		<xs:complexContent>
			<xs:extension base="BasisType">
				<xs:sequence>
					<xs:element name="bedrag" type="GeldType"/>
					<xs:element name="aandelen" type="AandelenType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--**** Locatie ****-->
	<xs:complexType name="LocatieType">
		<xs:complexContent>
			<xs:extension base="BasisType">
				<xs:sequence>
					<xs:element name="toevoegingAdres" type="Tekst100" minOccurs="0"/>
                    <xs:element name="afgeschermd" type="IndicatieType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Moved since 2012/08</xs:documentation>
                        </xs:annotation>
                    </xs:element>
					<xs:choice  minOccurs="0">
						<xs:element name="binnenlandsAdres" type="BinnenlandsAdresType"/>
						<xs:element name="buitenlandsAdres" type="BuitenlandsAdresType"/>
						<xs:sequence>
							<xs:element name="binnenlandsAdresVanaf" type="BinnenlandsAdresType"/>
							<xs:element name="binnenlandsAdresTotEnMet" type="BinnenlandsAdresType"/>
						</xs:sequence>
					</xs:choice>
                    <!-- Afgeleid gegeven binnen HR-Domein -->
                    <xs:element name="volledigAdres" type="Tekst500" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Moved since 2012/08</xs:documentation>
                        </xs:annotation>
                    </xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
    <!--**** Schorsing ****-->
    <xs:complexType name="SchorsingType">
        <xs:annotation>
            <xs:documentation>Added since 2012/08</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="BasisType">
                <xs:sequence>
                    <xs:choice minOccurs="0">
                        <xs:element name="aanvangDoorRechterlijkeUitspraak" type="RechterlijkeUitspraakType" />
                        <xs:element name="eindeDoorRechterlijkeUitspraak" type="RechterlijkeUitspraakType" />
                    </xs:choice>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

	<!--**** TelefoonnummerRegistratie ****-->
	<xs:complexType name="TelefoonnummerRegistratieType">
		<xs:complexContent>
			<xs:extension base="BasisType">
				<xs:sequence>
					<xs:element name="toegangscode" type="Tekst10"/>
					<xs:element name="nummer" type="Alfanumeriek15"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--************************** GegevensGroepen ZONDER Registratie **************************-->
	<!--**** Aandelen ****-->
    <xs:complexType name="AandelenType">
        <xs:sequence>
            <xs:element name="aantal" type="Numeriek23DecimaalFractie4"/>
            <xs:element name="soort" type="Tekst50"/>
            <xs:element name="waarde" type="GeldType"/>
        </xs:sequence>
    </xs:complexType>

	<!--**** BinnenlandsAdres en BuitenlandsAdres ****-->
	<xs:complexType name="BinnenlandsAdresType">
        <xs:sequence>
            <xs:element name="straatnaam" type="Tekst80" minOccurs="0"/>
            <xs:element name="huisnummer" type="Numeriek5" minOccurs="0"/>
            <xs:element name="huisnummerToevoeging" type="Tekst5" minOccurs="0"/>
            <xs:element name="huisletter" type="Letter" minOccurs="0"/>
            <xs:element name="postbusnummer" type="Numeriek5" minOccurs="0"/>
            <xs:element name="postcode" type="PostcodeType" minOccurs="0"/>
            <xs:element name="plaats" type="Tekst80" minOccurs="0"/>
            <xs:element name="bagId" type="BagIdType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Added since 2012/08</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
	</xs:complexType>
	<xs:complexType name="BuitenlandsAdresType">
        <xs:sequence>
            <xs:element name="straatHuisnummer" type="Tekst200" minOccurs="0"/>
            <xs:element name="postcodeWoonplaats" type="Tekst200" minOccurs="0"/>
            <xs:element name="regio" type="Tekst150" minOccurs="0"/>
            <xs:element name="land" type="Tekst40" minOccurs="0"/>
        </xs:sequence>
	</xs:complexType>
	<!--**** BeperkingInHandeling ****-->
	<xs:complexType name="BeperkingInHandelingType">
		<xs:sequence>
			<xs:element name="beperkingInGeld" type="GeldType" minOccurs="0"/>
			<xs:element name="soort" type="SoortHandelingType"/>
		</xs:sequence>
	</xs:complexType>
	<!--**** BeperkteVolmacht ****-->
	<xs:complexType name="BeperkteVolmachtType">
		<xs:sequence>
			<xs:element name="beperkingInGeld" type="GeldType" minOccurs="0"/>
			<xs:element name="doenVanOpgaveAanHetHandelsregister" type="IndicatieType" minOccurs="0"/>
			<xs:element name="indicatieOverigeVolmacht" type="IndicatieType" minOccurs="0"/>
			<xs:element name="omschrijvingOverigeBeperkingen" type="Tekst2000" minOccurs="0"/>
			<xs:element name="beperkingInHandeling" type="BeperkingInHandelingType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!--**** Communicatienummer (Fax-/Telefoonummer) ****-->
	 <xs:complexType name="CommunicatienummerType">
		<xs:sequence>
			<xs:element name="toegangscode" type="Tekst10"/>
			<xs:element name="nummer" type="Alfanumeriek15"/>
			<xs:element name="soort" type="SoortCommunicatieNummerType"/>
		</xs:sequence>
	</xs:complexType>
	<!--**** FusieSplitsingVoorstel ****-->
	<xs:complexType name="FusieSplitsingVoorstelType">
		<xs:sequence>
			<xs:element name="rol" type="RolRechtspersoonbijVoorstelType"/>
			<xs:element name="zuivereSplitsing" type="IndicatieType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

    <!--**** Liquidatie ****-->
    <xs:complexType name="LiquidatieType">
        <xs:annotation>
            <xs:documentation>Added since 2012/08</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="BasisType"/>
        </xs:complexContent>
    </xs:complexType>
	<!--**** Ontbinding ****-->
    <xs:complexType name="OntbindingType">
        <xs:annotation>
            <xs:documentation>Changed since 2012/08</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="BasisType">
                <xs:sequence>
                    <xs:element name="reden" type="RedenOntbindingType" minOccurs="0"/>
                    <xs:element name="liquidatie" type="LiquidatieType" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
	<!--**** RechterlijkeUitspraak ****-->
	<xs:complexType name="RechterlijkeUitspraakType">
		<xs:sequence>
			<xs:element name="datumUitspraak" type="DatumIncompleetType"/>
			<xs:element name="naam" type="Tekst500"/>
			<xs:element name="plaats" type="Tekst80"/>
		</xs:sequence>
	</xs:complexType>
	<!--**** SBIActiviteit ****-->
	<xs:complexType name="SBIActiviteitType">
		<xs:sequence>
			<xs:element name="sbiCode" type="Tekst10" minOccurs="0"/>
			<xs:element name="omschrijving" type="Tekst200" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!--**** VolledigeVolmacht ****-->
	<xs:complexType name="VolledigeVolmachtType"/>
    <!--**** VoornemenTotOntbinding ****-->
    <xs:complexType name="VoornemenTotOntbindingType">
        <xs:annotation>
            <xs:documentation>Added since 2012/08</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="BasisType"/>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
