QNH.Overheid.KernRegister.Business.KvK/v2.5/XSD/CatalogusMainTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://schemas.kvk.nl/schemas/hrip/catalogus/2015/01"
           targetNamespace="http://schemas.kvk.nl/schemas/hrip/catalogus/2015/01"
           elementFormDefault="qualified" attributeFormDefault="unqualified"
           version="schema.v2_5">

	<xs:include schemaLocation="./CatalogusRelaties.xsd"/>
	<xs:include schemaLocation="./CatalogusTypes.xsd"/>
	<xs:include schemaLocation="./CatalogusEnumeraties.xsd"/>
	<xs:include schemaLocation="./CatalogusGegevensGroepen.xsd"/>

	<!--****************************** MainTypes MET Registratie *******************************-->
	<!--**** Persoon ****-->
	<xs:complexType name="PersoonType" abstract="true">
		<xs:complexContent>
			<xs:extension base="BasisType">
				<xs:sequence>
                  <!-- attributen -->
                    <xs:element name="bijzondereRechtstoestand" type="BijzondereRechtstoestandType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Added since 2012/08</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="beperkingInRechtshandeling" type="BeperkingInRechtshandelingType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Added since 2012/08</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <!-- afgeleid gegeven binnen HR-Domein -->
                    <xs:element name="persoonRechtsvorm" type="Tekst200" minOccurs="0"/>
                    <xs:element name="volledigeNaam" type="Tekst500" minOccurs="0"/>
                    <!-- Afgeleid gegeven binnen IP-Domein -->
                    <xs:element name="uitgebreideRechtsvorm" type="Tekst200" minOccurs="0"/>
					
                  <!-- componenten -->
					<xs:element name="bezoekLocatiePersoon" type="LocatieType" minOccurs="0"/>
					<xs:element name="bezoekLocatiePersoonDoor" type="LocatieType" minOccurs="0"/>
					<xs:element name="postLocatiePersoon" type="LocatieType" minOccurs="0"/>
					<xs:element name="postLocatiePersoonDoor" type="LocatieType" minOccurs="0"/>
                    <!-- relaties -->
					<xs:element name="heeft" type="FunctievervullingRelatieType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="is" type="FunctievervullingRelatieType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="isEigenaarVan" type="MaatschappelijkeActiviteitRelatieType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NaamPersoonType">
		<xs:complexContent>
			<xs:extension base="PersoonType">
				<xs:sequence>
				  <!-- attributen -->
					<xs:element name="naam" type="Tekst500" minOccurs="0"/>
				  <!-- componenten -->
					<xs:element name="telefoonnummer" type="TelefoonnummerRegistratieType" minOccurs="0"/>
					<xs:element name="locatie" type="LocatieType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NatuurlijkPersoonType">
		<xs:annotation>
			<xs:documentation>Voor de natuurlijk persoon is de datumAanvang de geboortedatum van de natuurlijk persoon en de datumEinde de overlijdendsdatum. De geboortedatum en overlijdensdatum zijn niet als aparte tags opgenomen!</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="PersoonType">
				<xs:sequence>
				  <!-- attributen -->
					<xs:element name="bsn" type="BSNummerType" minOccurs="0"/>
					<xs:element name="geslachtsnaam" type="Tekst200" minOccurs="0"/>
					<xs:element name="voorvoegselGeslachtsnaam" type="Tekst10" minOccurs="0"/>
					<xs:element name="voornamen" type="Tekst200" minOccurs="0"/>
					<xs:element name="geslachtsaanduiding" type="GeslachtsaanduidingType" minOccurs="0"/>
					<xs:element name="geboorteplaats" type="Tekst200" minOccurs="0"/>
					<xs:element name="geboorteland" type="Tekst40" minOccurs="0"/>
					<xs:element name="adellijkeTitel" type="Tekst10" minOccurs="0"/>
					<xs:element name="aanduidingNaamgebruik" type="AanduidingNaamgebruikType" minOccurs="0"/>
					<xs:element name="geslachtsnaamPartner" type="Tekst200" minOccurs="0"/>
					<xs:element name="voorvoegselGeslachtsnaamPartner" type="Tekst10" minOccurs="0"/>
					<xs:element name="handelingsbekwaam" type="IndicatieType" minOccurs="0"/>
				  <!-- componenten -->
					<xs:element name="woonLocatie" type="LocatieType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NietNatuurlijkPersoonType" abstract="true">
		<xs:complexContent>
			<xs:extension base="PersoonType">
				<xs:sequence>
                  <!-- attributen -->
					<xs:element name="rsin" type="RSINummerType" minOccurs="0"/>
					<xs:element name="naam" type="Tekst500" minOccurs="0"/>
					<xs:element name="ookGenoemd" type="Tekst500" minOccurs="0"/>
					<xs:element name="verkorteNaam" type="Tekst45" minOccurs="0"/>
					<xs:element name="datumUitschrijving" type="DatumIncompleetType" minOccurs="0"/>
					<xs:element name="buitenlandseRechtstoestand" type="BuitenlandseRechtstoestandType" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="ontbinding" type="OntbindingType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Added since 2012/08</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                  <!-- componenten -->
                    <!-- relaties -->
					<xs:element name="heeftGedeponeerd" type="DeponeringRelatieType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="isAansprakelijkVoor" type="NietNatuurlijkPersoonRelatieRegistratieType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Een (buitenlandse) vennootschap heeft zich aansprakelijk gesteld voor de uit rechtshandelingen van een andere vennootschap voortvloeiende schulden</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="isDochterVan" type="NietNatuurlijkPersoonRelatieRegistratieType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Een dochter is een vennootschap waarbij de schulden voortvloeiend uit rechtshandelingen door een andere vennootschap worden gedragen</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BuitenlandseVennootschapType">
		<xs:complexContent>
			<xs:extension base="NietNatuurlijkPersoonType">
				<xs:sequence>
				  <!-- attributen -->
					<xs:element name="buitenlandsRegister" type="Tekst200" minOccurs="0"/>
					<xs:element name="plaatsBuitenlandsRegister" type="Tekst80" minOccurs="0"/>
					<xs:element name="inschrijfnummerBuitenland" type="Tekst50" minOccurs="0"/>
					<xs:element name="landVanOprichting" type="Tekst40" minOccurs="0"/>
					<xs:element name="land" type="Tekst40" minOccurs="0"/>
					<xs:element name="geplaatstKapitaal" type="KapitaalType" minOccurs="0"/>
					<xs:element name="buitenlandseVennootschapGegevens" type="BuitenlandseVennootschapGegevensType" minOccurs="0"/>
					
				  <!-- componenten -->
					<xs:element name="bezoekLocatie" type="LocatieType" minOccurs="0"/>
					<xs:element name="postLocatie" type="LocatieType" minOccurs="0"/>
					
				  <!-- attributen -->
                    <!-- Afgeleid gegeven binnen IP-Domein -->
                    <xs:element name="buitenlandseRegistratie" type="Tekst500" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EenmanszaakMetMeerdereEigenarenType">
		<xs:complexContent>
			<xs:extension base="NietNatuurlijkPersoonType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RechtspersoonType">
		<xs:complexContent>
			<xs:extension base="NietNatuurlijkPersoonType">
				<xs:sequence>

				  <!-- attributen -->
					<xs:element name="rechtsvorm" type="RechtsvormRechtspersoonType" minOccurs="0"/>
					<xs:element name="publiekrechtelijkeRechtsvorm" type="RechtsvormPubliekrechtelijkeRechtspersoonType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>De specifieke rechtsvorm van een PubliekrechtelijkeRechtspersoon</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="overigePrivaatrechtelijkeRechtsvorm" type="RechtsvormOverigePrivaatrechtelijkeRechtspersoonType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>De specifieke rechtsvorm van een OverigePrivaatrechtelijkeRechtspersoon</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="buitenlandsRegister" type="Tekst200" minOccurs="0"/>
					<xs:element name="plaatsBuitenlandsRegister" type="Tekst80" minOccurs="0"/>
					<xs:element name="statutaireZetel" type="Tekst80" minOccurs="0"/>
					<xs:element name="datumAkteOprichting" type="DatumIncompleetType" minOccurs="0"/>
					<xs:element name="inschrijfnummerBuitenland" type="Tekst50" minOccurs="0"/>
					<xs:element name="datumOprichting" type="DatumIncompleetType" minOccurs="0"/>
					<xs:element name="bedragKostenOprichting" type="GeldType" minOccurs="0"/>
					<xs:element name="datumEersteInschrijving" type="DatumIncompleetType" minOccurs="0"/>
					<xs:element name="land" type="Tekst40" minOccurs="0"/>
					<xs:element name="datumAkteStatutenWijziging" type="DatumIncompleetType" minOccurs="0"/>
					<xs:element name="datumLaatsteStatutenWijziging" type="DatumIncompleetType" minOccurs="0"/>
					<xs:element name="bevoegdheidVereniging" type="RechtsbevoegdheidType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>De bevoegdheid van de vereniging. Een vereniging kan beperk of volledig rechtsbevoegd zijn.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ingangStatuten" type="DatumIncompleetType" minOccurs="0"/>
					<xs:element name="beleggingsMijMetVeranderlijkKapitaal" type="IndicatieType" minOccurs="0"/>
					<xs:element name="stelselInrichting" type="StelselInrichtingType" minOccurs="0"/>
					<xs:element name="bijzondereStructuur" type="IndicatieType" minOccurs="0"/>
					<xs:element name="maatschappelijkKapitaal" type="KapitaalType" minOccurs="0"/>
					<xs:element name="geplaatstKapitaal" type="KapitaalType" minOccurs="0"/>
					<xs:element name="gestortKapitaal" type="KapitaalType" minOccurs="0"/>
					
				  <!-- componenten -->
					<xs:element name="bezoekLocatie" type="LocatieType" minOccurs="0"/>
					<xs:element name="postLocatie" type="LocatieType" minOccurs="0"/>
					<xs:element name="activiteiten" type="ActiviteitenType" minOccurs="0"/>
					<xs:element name="communicatiegegevens" type="CommunicatiegegevensType" minOccurs="0"/>
					
				  <!-- attributen -->
                    <xs:element name="voornemenTotOntbinding" type="VoornemenTotOntbindingType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Added since 2012/08</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <!-- afgeleid gegeven binnen HR-Domein -->
                    <xs:element name="activiteitenGestaaktPer" type="DatumIncompleetType" minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RechtspersoonInOprichtingType">
		<xs:complexContent>
			<xs:extension base="NietNatuurlijkPersoonType">
				<xs:sequence>
					<xs:element name="doelRechtsvorm" type="RechtsvormRechtspersoonType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>De rechtsvorm die de rechtspersoon na oprichting zal krijgen.
</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SamenwerkingsverbandType">
		<xs:complexContent>
			<xs:extension base="NietNatuurlijkPersoonType">
				<xs:sequence>
					<xs:element name="rechtsvorm" type="RechtsvormSamenwerkingsverbandType" minOccurs="0"/>
					<xs:element name="aantalCommanditaireVennoten" type="Numeriek4" minOccurs="0"/>
					<xs:element name="duur" type="DuurType" minOccurs="0"/>
					<xs:element name="commanditairKapitaal" type="CommanditairKapitaalType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--**** Functievervulling ****-->
	<xs:complexType name="FunctievervullingType" abstract="true">
		<xs:complexContent>
			<xs:extension base="BasisType">
				<xs:sequence>
					<xs:element name="functieTitel" type="FunctieTitelType" minOccurs="0"/>
                    <xs:element name="schorsing" type="SchorsingType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Added since 2012/08</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <!-- afgeleid gegeven binnen HR-Domein -->
                    <xs:element name="langstzittende" type="IndicatieType" minOccurs="0" />
					<!-- relaties -->
					<xs:choice>
						<xs:element name="door" type="PersoonRelatieType">
							<xs:annotation>
								<xs:documentation>[Persoon] heeft [Functievervulling] door [Persoon]</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="voor" type="PersoonRelatieType">
							<xs:annotation>
								<xs:documentation>[Persoon] is [Functievervulling] voor [Persoon]</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AansprakelijkeType">
		<xs:complexContent>
			<xs:extension base="FunctievervullingType">
				<xs:sequence>
					<xs:element name="functie" type="FunctieAansprakelijkeType" />
					<xs:element name="handelingsbekwaam" type="IndicatieType" minOccurs="0"/>
					<xs:element name="bevoegdheid" type="BevoegdheidAansprakelijkeType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BestuursfunctieType">
		<xs:complexContent>
			<xs:extension base="FunctievervullingType">
				<xs:sequence>
					<xs:element name="functie" type="FunctieBestuurderType" />
					<xs:element name="bevoegdheid" type="BevoegdheidBestuurderType" minOccurs="0"/>
					<xs:element name="wordtVertegenwoordigdDoor" type="NatuurlijkPersoonRelatieType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FunctionarisBijzondereRechtstoestandType" abstract="true">
        <xs:annotation>
            <xs:documentation>Changed since 2012/08</xs:documentation>
        </xs:annotation>
		<xs:complexContent>
			<xs:extension base="FunctievervullingType"/>
		</xs:complexContent>
	</xs:complexType>
    <xs:complexType name="CuratorType">
        <xs:annotation>
            <xs:documentation>Added since 2012/08</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="FunctionarisBijzondereRechtstoestandType"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RechterCommissarisType">
        <xs:annotation>
            <xs:documentation>Added since 2012/08</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="FunctionarisBijzondereRechtstoestandType"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="BewindvoerderType">
        <xs:annotation>
            <xs:documentation>Added since 2012/08</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="FunctionarisBijzondereRechtstoestandType"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="GemachtigdeType">
		<xs:complexContent>
			<xs:extension base="FunctievervullingType">
				<xs:sequence>
					<xs:element name="functie" type="FunctieGemachtigdeType"/>
					<xs:element name="volmacht" type="VolmachtType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OverigeFunctionarisType">
		<xs:complexContent>
			<xs:extension base="FunctievervullingType">
				<xs:sequence>
					<xs:element name="functie" type="FunctieOverigeFunctionarisType"/>
					<xs:element name="geplaatstKapitaal" type="KapitaalType" minOccurs="0"/>
					<xs:element name="gestortKapitaal" type="KapitaalType" minOccurs="0"/>
					<xs:element name="bevoegdheid" type="BevoegdheidFunctionarisVolgensBuitenlandsRechtType" minOccurs="0"/>
					<xs:element name="afwijkendAansprakelijkheidsbeding" type="IndicatieType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PubliekrechtelijkeFunctionarisType">
		<xs:complexContent>
			<xs:extension base="FunctievervullingType">
				<xs:sequence>
					<xs:element name="functie" type="FunctiePubliekrechtelijkeFunctionarisType"/>
					<xs:element name="bevoegdheid" type="BevoegdheidPubliekrechtelijkeFunctionarisType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--**** MaatschappelijkeActiviteit ****-->
	<xs:complexType name="MaatschappelijkeActiviteitType">
		<xs:complexContent>
			<xs:extension base="BasisType">
				<xs:sequence>
                    <!-- Attributen -->
					<xs:element name="kvkNummer" type="KvKNummerType"/>
					<xs:element name="nonMailing" type="IndicatieType" minOccurs="0"/>
					<xs:element name="hoofdSbiActiviteit" type="SBIActiviteitType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="nevenSbiActiviteit" type="SBIActiviteitType" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="incidenteelUitlenenArbeidskrachten" type="IndicatieType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Added since 2012/08</xs:documentation>
                        </xs:annotation>
                    </xs:element>

                    <!-- Componenten -->
                    <!-- afgeleid gegeven binnen HR-Domein -->
                    <xs:element name="bezoekLocatie" type="LocatieType" minOccurs="0"/>
					<xs:element name="postLocatie" type="LocatieType" minOccurs="0"/>
					<xs:element name="communicatiegegevens" type="CommunicatiegegevensType" minOccurs="0"/>
                    <xs:element name="naam" type="Tekst500" minOccurs="0"/>

					<!-- relaties -->
					<xs:element name="manifesteertZichAls" type="OndernemingRelatieRegistratieType" minOccurs="0"/>
					<xs:element name="wordtUitgeoefendIn" type="NietCommercieleVestigingRelatieRegistratieType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="wordtGeleidVanuit" type="VestigingRelatieType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>hoofdvestiging</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="heeftAlsEigenaar" type="PersoonRelatieType" minOccurs="0"/>
                    <xs:element name="berichtenbox" type="BerichtenboxType" minOccurs="0" maxOccurs="1"></xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--**** Onderneming ****-->
	<xs:complexType name="OndernemingType">
		<xs:complexContent>
			<xs:extension base="BasisType">
				<xs:sequence>
					<xs:element name="kvkNummer" type="KvKNummerType" minOccurs="0"/>
					<xs:element name="hoofdSbiActiviteit" type="SBIActiviteitType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="nevenSbiActiviteit" type="SBIActiviteitType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="fulltimeWerkzamePersonen" type="Numeriek6" minOccurs="0"/>
					<xs:element name="parttimeWerkzamePersonen" type="Numeriek6" minOccurs="0"/>
					<!-- Afgeleid gegeven binnen HR-Domein -->
                    <xs:element name="totaalWerkzamePersonen" type="Numeriek6" minOccurs="0"/>
					<!-- relaties -->
					<xs:element name="handeltOnder" type="HandelsnaamRelatieType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="wordtUitgeoefendIn" type="CommercieleVestigingRelatieRegistratieType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="wordtUitgeoefendDoor" type="MaatschappelijkeActiviteitRelatieRegistratieType" minOccurs="0"/>
					<xs:element name="heeftOvergenomenVan" type="OndernemingRelatieRegistratieType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="isOvergedragenAan" type="OndernemingRelatieRegistratieType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--**** Vestiging ****-->
	<xs:complexType name="VestigingType" abstract="true">
		<xs:complexContent>
			<xs:extension base="BasisType">
				<xs:sequence>
				  <!-- attributen -->					
					<xs:element name="vestigingsnummer" type="VestigingsnummerType" minOccurs="0"/>
					<xs:element name="datumVoortzetting" type="DatumIncompleetType" minOccurs="0"/>
					
				  <!-- componenten -->										
					<xs:element name="bezoekLocatie" type="LocatieType" minOccurs="0"/>
					<xs:element name="postLocatie" type="LocatieType" minOccurs="0"/>
					<xs:element name="communicatiegegevens" type="CommunicatiegegevensType" minOccurs="0"/>
                    <!-- afgeleid gegeven binnen IP-Domein -->
                    <xs:element name="eersteHandelsnaam" type="HandelsnaamType" minOccurs="0"/>
					<!-- relaties -->
					<xs:element name="isSamengevoegdMet" type="VestigingenRelatieRegistratieType" minOccurs="0"/>
					<xs:element name="isBijeengevoegdMet" type="VestigingenRelatieRegistratieType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CommercieleVestigingType">
		<xs:complexContent>
			<xs:extension base="VestigingType">
				<xs:sequence>
                  <!-- attributen -->
					<xs:element name="fulltimeWerkzamePersonen" type="Numeriek6" minOccurs="0"/>
					<xs:element name="parttimeWerkzamePersonen" type="Numeriek6" minOccurs="0"/>
					<!-- Afgeleid gegeven binnen HR-Domein -->
                    <xs:element name="totaalWerkzamePersonen" type="Numeriek6" minOccurs="0"/>
                  <!-- componenten -->
					<xs:element name="activiteiten" type="ActiviteitenCommercieleVestigingType" minOccurs="0"/>
					<!-- relaties -->
					<xs:element name="handeltOnder" type="HandelsnaamRelatieRegistratieType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="wordtUitgeoefendDoor" type="OndernemingRelatieRegistratieType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NietCommercieleVestigingType">
		<xs:complexContent>
			<xs:extension base="VestigingType">
				<xs:sequence>
				  <!-- attributen -->
					<xs:element name="naam" type="Tekst500" minOccurs="0"/>
					<xs:element name="verkorteNaam" type="Tekst45" minOccurs="0"/>
					<xs:element name="ookGenoemd" type="Tekst500" minOccurs="0"/>
				  <!-- componenten -->
					<xs:element name="activiteiten" type="ActiviteitenType" minOccurs="0"/>
					<!-- relaties -->
					<xs:element name="wordtUitgeoefendDoor" type="MaatschappelijkeActiviteitRelatieRegistratieType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--**** Aansprakelijkheid ****-->
	<xs:complexType name="AansprakelijkheidType">
		<xs:complexContent>
			<xs:extension base="BasisType">
				<xs:sequence>
					<!-- relaties -->
					<xs:element name="moeder" type="NietNatuurlijkPersoonRelatieType" minOccurs="0"/>
					<xs:element name="dochter" type="NietNatuurlijkPersoonRelatieType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--**** Volmacht ****-->
	<xs:complexType name="VolmachtType">
		<xs:complexContent>
			<xs:extension base="BasisType">
				<xs:sequence>
					<xs:element name="statutair" type="IndicatieType" minOccurs="0"/>
					<xs:choice>
						<xs:element name="volledigeVolmacht" type="VolledigeVolmachtType"/>
						<xs:element name="beperkteVolmacht" type="BeperkteVolmachtType"/>
					</xs:choice>
					<!-- relaties -->
					<xs:element name="heeftBetrekkingOp" type="VestigingRelatieRegistratieType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--**** Handelsnaam ****-->
	<xs:complexType name="HandelsnaamType">
		<xs:complexContent>
			<xs:extension base="BasisType">
				<xs:sequence>
					<xs:element name="naam" type="Tekst625"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--***************************** MainTypes ZONDER Registratie *****************************-->
	<!--**** Deponering ****-->
	<xs:complexType name="DeponeringType" abstract="true">
		<xs:sequence>
			<xs:element name="depotId" type="DepotIdType"/>
			<xs:element name="status" type="StatusDepotstukType" minOccurs="0"/>
			<xs:element name="datumDeponering" type="DatumIncompleetType" minOccurs="0"/>
            <xs:element name="rechterlijkeUitspraak" type="RechterlijkeUitspraakType" minOccurs="0"/>
			<!-- relaties -->
            <xs:element name="gaatOver" type="DeponeringRelatieType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeponeringAansprakelijkheidsverklaringType">
		<xs:complexContent>
			<xs:extension base="DeponeringType">
				<xs:sequence>
					<xs:element name="aansprakelijkheid" type="AansprakelijkheidType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DeponeringAanvullendeMededelingType">
		<xs:complexContent>
			<xs:extension base="DeponeringType">
				<xs:sequence>
					<xs:element name="heeftBetrekkingOpJaarrekening" type="DeponeringJaarstukJaarrekeningType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DeponeringBijzondereDeponeringType">
		<xs:complexContent>
			<xs:extension base="DeponeringType">
				<xs:choice>
					<xs:sequence>
						<xs:element name="soort" type="SoortBijzondereDeponeringType"/>
						<xs:element name="fusieSplitsingVoorstel" type="FusieSplitsingVoorstelType" minOccurs="0"/>
					</xs:sequence>
					<xs:element name="omschrijving" type="Tekst500" minOccurs="0"/>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DeponeringIntrekkingType">
		<xs:complexContent>
			<xs:extension base="DeponeringType">
				<xs:sequence>
					<xs:element name="aansprakelijkheid" type="AansprakelijkheidType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DeponeringJaarstukType" abstract="true">
		<xs:complexContent>
			<xs:extension base="DeponeringType">
				<xs:sequence>
					<xs:element name="boekjaar" type="JaarType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DeponeringJaarstukHalfjaarKwartaalcijfersType">
		<xs:complexContent>
			<xs:extension base="DeponeringJaarstukType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DeponeringJaarstukInstemmingType">
		<xs:complexContent>
			<xs:extension base="DeponeringJaarstukType">
				<xs:sequence>
					<xs:element name="groepsjaarrekeningHouder" type="NietNatuurlijkPersoonType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DeponeringJaarstukJaarrekeningType">
		<xs:complexContent>
			<xs:extension base="DeponeringJaarstukType">
				<xs:sequence>
					<xs:element name="datumVaststelling" type="DatumIncompleetType" minOccurs="0"/>
					<xs:element name="vaststelling" type="VaststellingType" minOccurs="0"/>
					<xs:element name="grootte" type="GrootteKenmerkType" minOccurs="0"/>
					<xs:element name="maand" type="MaandType" minOccurs="0"/>
					<xs:element name="plaatsJaarverslag" type="PlaatsJaarverslagType" minOccurs="0"/>
					<xs:element name="buitenlandseJaarrekening" type="IndicatieType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DeponeringJaarstukJaarrekeningOngewijzigdVastgesteldType">
		<xs:complexContent>
			<xs:extension base="DeponeringJaarstukType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DeponeringJaarstukOntheffingType">
		<xs:complexContent>
			<xs:extension base="DeponeringJaarstukType">
				<xs:sequence>
					<xs:element name="reden" type="RedenOntheffingType" minOccurs="0"/>
					<xs:element name="groepsjaarrekeningHouder" type="NietNatuurlijkPersoonType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DeponeringOverblijvendeAansprakelijkheidType">
		<xs:complexContent>
			<xs:extension base="DeponeringType">
				<xs:sequence>
					<xs:element name="aansprakelijkheid" type="AansprakelijkheidType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

    <xs:complexType name="DeponeringOverigJaarstukType">
        <xs:complexContent>
            <xs:extension base="DeponeringJaarstukType">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="BerichtenboxType">
        <xs:sequence>
            <xs:element name="berichtenboxnaam" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

</xs:schema>
